.form-group {
  margin-top: 20px;
  margin-bottom: 40px;
}

#button {
  margin-bottom: 40px;
}

#ruby, #python, #csharp {
  display: none;
}

img {
  width: 350px;
  height: 250px;
}

.banner {
  display: flex;
  background-color: teal;
  justify-content: center;
}

h1 {
  padding-top: 100px;
  font-style: italic;
  text-shadow: 1px 1px 2px #7ec4fc;
}

h2 {
  text-align: center;
  font-style: italic;
}

h3 {
  font-style: italic;
}

.form-group {
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
 background-color: #cccccc;
 padding-bottom: 5px;
 margin-top: 20px;
 margin-bottom: 20px;
}

div {
  background-image: linear-gradient(45deg, #d2e8fa, #ebf7fc);
}

.panel-footer p {
  text-align: center;
}

.jumbotron {
  color: white;
  background-image: url("https://marketingweek.imgix.net/content/uploads/2017/05/12103909/Coding-body-image-.jpg?auto=compress,format,&crop=faces,entropy,edges&fit=crop&q=60&w=750&h=");
  background-repeat: no-repeat;
  height: 400px;
  width: 900px;
}